.home {
  @apply relative p-6;

  & .button-register {
    @apply text-white font-bold text-xl flex items-center;

    & img {
      @apply bg-white rounded-full p-1 mr-2;
      width: 15px;
    }
  }

  & .table {
    @apply w-full relative mt-4 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3;

    & li {
      @apply my-4;
    }

    & .updated {
      @apply absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  & .loading {
    @apply absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center h-screen;

    background-color: rgba(0, 0, 0, 0.5);
  }

  & .VuePagination {
    @apply md:flex justify-center;

    & nav {
      & ul {
        @apply flex justify-between px-8 md:w-full md:px-0;

        & li {
          @apply bg-white rounded p-2;
        }

        & .active {
          @apply bg-green-200;
        }

        & .disabled {
          @apply bg-gray-500;
        }
      }
    }
  }
}

@import "./components/card-user.css";
